/* src/assets/CSS/terminos.css */
.terminos-container {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
  line-height: 1.6;
}

.terminos-container h1, 
.terminos-container h2 {
  color: #222;
  margin-bottom: 1rem;
}

.terminos-container p {
  margin-bottom: 1rem;
}
